/* MAIN ELEMENTS */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

button {
  border: none;
}

/* TITLE SECTION */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

/* DAY PLANNER */
.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin-top: 3px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: center;
}

/* COLOR STYLES DEPENDING ON TIME */
.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* SAVE BUTTON */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveBtn:hover {
  opacity: 0.5;
  transition: all .3s ease-in-out;
}
.saveBtn:hover i {
  font-size: 25px;
  transition: all .3s ease-in-out;
}
